/* paleta
#2C2C2C negro
#ABABAB gris medio
#FFBF5F naranja
#EDEDED gris claro */
/* LANDING */
.landingcontenedor {
  max-width: 60%;
  margin: auto;
  padding: 1rem;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: top; }

.textolanding {
  position: relative;
  color: #2C2C2C;
  padding: 2rem; }

.textolanding span {
  color: #FFBF5F; }

.imagenlanding img {
  border-radius: 14px;
  height: 400px;
  position: relative; }

.fraselanding {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: fit-content;
  max-width: 80%;
  margin: auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative; }

.fraselanding img {
  margin-bottom: 2rem;
  margin: auto; }

.landing__img {
  margin-bottom: 3rem; }

.fraselanding h2 {
  color: #2C2C2C;
  margin: auto;
  text-align: center; }

.fraselanding h2 span {
  color: #FFBF5F; }

/* END OF LANDING */
/* css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* paleta
#$colortypo negro
$colorprimario gris medio
$coloracento naranja
$colorsecundario gris claro */
body {
  background-color: white; }

/* tags solo para tipografias */
/* voy a usar class para los titulos segun pagina */
h1, h2, h3 {
  font-family: '$tipografiaprimaria', sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

p {
  font-family: '$tipografiasecundaria', sans-serif; }

/* BOTONES GRIS CONF */
.botongris {
  background-color: #f1efef;
  border-radius: 16px;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  margin-top: 20px; }

.botongris :hover {
  border: #FFBF5F; }

.botongris a {
  text-decoration: none;
  color: #6e6e6e; }

/* FORM STYLE */
.formulario {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 2rem;
  background-color: #d8d7d7;
  border-radius: 16px; }

.formulario__contenedor {
  max-width: 600px;
  height: auto;
  margin: auto;
  padding: 2rem; }

.formulario__contenedor form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "nombre asunto" "mail mensaje" "telefono mensaje" ". boton";
  align-items: center;
  justify-items: center;
  gap: 10px; }

.nombre {
  grid-area: nombre; }

.asunto {
  grid-area: asunto; }

.email {
  grid-area: mail; }

.mensaje {
  grid-area: mensaje; }

.telefono {
  grid-area: telefono; }

.botonform--enviar {
  height: 32px;
  background-color: #6e6e6e;
  color: #FFf; }

.botonform--enviar:hover {
  background: #FFBF5F; }

.formulario__contenedor textarea {
  border-radius: 14px;
  width: 220px;
  height: 104px; }

.formulario__contenedor input {
  height: 40px;
  border-radius: 14px;
  width: 220px; }

/* bem para la tarjeta que se repite con diferente contenido */
.bem {
  background-color: #EDEDED;
  height: auto;
  padding: 2rem;
  max-width: 100%; }

/* modificando card de boostrap */
.card {
  border-radius: 14px;
  box-shadow: 5px 10px 10px #6e6e6e 86;
  margin: 2rem auto; }

.card img {
  height: 360px;
  border-radius: 14px;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.card-body {
  margin: 2rem; }

.tarjeta {
  background-color: whitesmoke;
  margin: 2rem auto;
  max-width: 70%;
  height: auto;
  border-radius: 14px;
  box-shadow: 5px 10px 10px  #6e6e6e 86; }

.tarjetacontenedor {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 2rem; }

.tarjetacontenedor2 {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 2rem; }

.textotarjeta {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  max-width: 50%;
  justify-content: space-around; }

.textotarjeta2 {
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  max-width: 50%;
  justify-content: space-around;
  margin-left: 2rem; }

.tarjeta__imagen {
  height: 360px;
  border-radius: 14px;
  position: relative; }

.tarjeta__imagen2 {
  height: 400px;
  border-radius: 14px;
  position: relative; }

.tarjeta__cta {
  font-family: '$tipografiaprimaria', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 136px;
  max-height: 56px;
  margin-top: 2rem; }

.tarjeta__cta2 {
  font-family: '$tipografiaprimaria', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 136px;
  max-height: 56px;
  margin-top: 2rem; }

.tarjeta__txt {
  font-family: '$tipografiasecundaria', sans-serif;
  font-style: italic;
  color: #ABABAB;
  text-align: left;
  text-align: justify;
  max-width: 80%; }

.tarjeta__txt2 {
  font-family: '$tipografiasecundaria', sans-serif;
  font-style: italic;
  color: #ABABAB;
  text-align: left;
  text-align: justify;
  max-width: 80%; }

.tarjeta__title, .text__subtitle {
  text-align: left;
  max-width: 80%; }

.tarjeta__cta {
  background-color: white;
  border-radius: 16px;
  border: 4px #6e6e6e;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 12px; }

.tarjeta__cta a {
  text-decoration: none;
  color: #6e6e6e; }

.tarjeta__cta2 {
  background-color: white;
  border-radius: 16px;
  border: 4px #6e6e6e;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 12px; }

.tarjeta__cta2 a {
  text-decoration: none;
  color: #6e6e6e; }

.PERSONAS {
  width: 100%;
  position: relative;
  padding: 2rem; }

.PERSONASCONTENEDOR {
  max-width: 70%;
  margin: auto;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; }

.tarjetapersona {
  background-color: #EDEDED;
  width: 264px;
  height: auto;
  padding: 1rem;
  border-radius: 16px;
  margin: 2rem;
  box-shadow: 5px 10px 10px #ABABAB 86;
  display: flex;
  flex-direction: column; }

.hola {
  max-height: fit-content;
  padding: 1rem;
  border-radius: 16px;
  width: 264px;
  margin: 4rem; }

.hola img {
  margin: 0;
  height: 50%;
  border-radius: 148px; }

.tarjetapersona__img {
  object-fit: cover;
  width: 60%;
  margin: 0 auto;
  border-radius: 148px;
  /* como las redondeo? */
  padding: 2rem; }

.tarjetapersona__nombre {
  color: #2C2C2C;
  font-size: 20px;
  text-align: center;
  margin-top: 3rem; }

.tarjetapersona__ocupacion {
  color: #FFBF5F;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  font-style: italic; }

.contenedorp2 {
  justify-content: center;
  padding: 2rem; }

.tarjetainfo {
  background-color: white;
  width: 192px;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  border-radius: 14px;
  box-shadow: 5px 10px 10px #ABABAB 86; }

.tarjetainfo__icon {
  height: 32px; }

.tarjetainfo__txt {
  font-style: italic;
  color: #6e6e6e;
  margin-top: 1rem; }

/* HEADER */
.header {
  height: 102px;
  box-shadow: 0px 2px 5px #ABABAB;
  padding: 1rem;
  position: relative;
  background: none; }

.headercontenedor {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  object-position: center;
  align-items: center; }

.header__img {
  height: 50px; }

.navbar {
  display: flex;
  flex-direction: row;
  list-style-type: none; }

.bg-light {
  background-color: #fff !important; }

.navbar a {
  list-style: none;
  color: #2C2C2C;
  font-family: '$tipografiaprimaria', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  margin: 16px; }

/* END OF HEADER */
/* FOOTER */
.footer {
  background-color: #2C2C2C;
  height: fit-content;
  width: 100%; }

.footer__contenedor {
  max-width: 80%;
  height: auto;
  padding: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center; }

.footer__medio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.footer__derechos {
  color: #EDEDED;
  font-family: '$tipografiaprimaria', sans-serif;
  font-size: 14px;
  font-style: italic;
  padding-top: 4rem; }

.footer__icono {
  padding: 2rem; }

.footer__left p {
  color: #EDEDED;
  font-family: '$tipografiaprimaria', sans-serif;
  font-size: 16px;
  font-style: italic; }

.footer__right p {
  color: #EDEDED;
  font-family: '$tipografiaprimaria', sans-serif;
  font-size: 16px;
  font-style: italic; }

.footer__left p span {
  color: #FFBF5F; }

.footer__right p span {
  color: #FFBF5F; }

/* END OF FOOTER */
/* ASESORIAS */
.asesorias {
  width: 100%;
  height: 246px;
  background-color: #ABABAB;
  padding: 2rem;
  background-image: url(../imagenes/asesoriasbanner.jpg);
  background-size: cover; }

.asesorias__titulo {
  max-width: 80%;
  padding: auto;
  margin: 2rem auto; }

.contenedorp {
  justify-content: center;
  padding: 2rem; }

.parrafos {
  text-align: justify;
  max-width: 80%;
  margin: auto; }

.parrafos ul {
  text-decoration: none;
  list-style-type: none;
  font-family: '$tipografiasecundaria', sans-serif; }

/* GALERIA */
.galeriabanner {
  width: 100%;
  height: 246px;
  background-color: #ABABAB;
  padding: 2rem;
  background-image: url(../imagenes/bannergaleria.jpg);
  background-size: cover;
  margin-bottom: 2rem; }

.galeriatxt {
  max-width: 80%;
  padding: auto;
  margin: 2rem auto; }

.galeria {
  max-width: 70%;
  margin: 4rem auto; }

.galeria__img {
  width: 240px;
  height: 240px;
  margin: 12px;
  border-radius: 16px; }

.grillaimagenes {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.grillaimagenes img:hover {
  border: 2px solid #FFBF5F; }

.carousel-item img {
  margin-top: auto;
  max-height: 400px;
  overflow: hidden; }

.row {
  margin: 0 auto;
  align-content: center;
  justify-content: center; }

/* CONTACT PAGE */
.contacto {
  max-width: 80%;
  padding: auto;
  margin: 2rem auto; }

.paginacontacto {
  background-color: #EDEDED; }

.infocontacto {
  background-color: #EDEDED;
  max-width: fit-content;
  height: auto;
  display: flex;
  margin: 2rem auto;
  justify-content: center; }

.formulario {
  background-color: #EDEDED; }

/* media querys */
/* tienen que estar al final del archivo y tienen un orden indicado */
/* Tablet */
@media screen and (max-width: 1080px) {
  .landingcontenedor {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr; }
  /* tarjetas index */
  .tarjeta {
    max-width: max-content;
    padding: 1rem; }
  .tarjetacontenedor {
    flex-direction: column;
    padding: 1rem;
    max-width: 100%; }
  .textotarjeta {
    max-width: fit-content;
    justify-content: center;
    margin: auto; }
  .textotarjeta p, .textotarjeta h2 {
    max-width: 100%; }
  .tarjetacontenedor button {
    margin-bottom: 2rem; }
  .tarjetacontenedor img {
    margin: 0;
    width: max-content;
    height: auto; }
  .fraselanding h2 {
    font-size: 18px; }
  /* GALERIA */
  .galeria {
    max-width: max-content; }
  .grillaimagenes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
  /* nosotros */
  .tarjetapersona__nombre {
    font-size: 16px; }
  .tarjetapersona__ocupacion {
    font-size: 14px; }
  /* footer */
  .footer__left p, .footer__right p {
    font-size: 14px; } }

/* MOBILE */
@media screen and (max-width: 600px) {
  h2 {
    font-size: 18px; }
  h1 {
    font-size: 24px; }
  p {
    font-size: 14px; }
  /* nav bar */
  .header {
    height: fit-content; }
  .headercontenedor {
    flex-direction: column;
    gap: 10px; }
  .header__nav {
    flex-wrap: wrap; }
  .header__nav li a {
    font-size: 16px; }
  /* landing */
  .landingcontenedor {
    max-width: 100%;
    padding: 0;
    gap: 0;
    justify-content: left; }
  .textolanding h2 {
    font-size: 18px; }
  .textolanding h1 {
    font-size: 24px; }
  .imagenlanding img {
    width: 100%;
    position: relative; }
  .textlanding {
    position: absolute;
    top: 0;
    left: 0; }
  .tarjetacontenedor img {
    margin: 0;
    width: max-content;
    height: auto; }
  .textotarjeta p {
    display: none; }
  /* GALERIA */
  .galeria {
    max-width: max-content; }
  .grillaimagenes {
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
  /* CONTACTO */
  .infocontacto {
    flex-direction: column; }
  .tarjetainfo {
    flex-direction: row;
    justify-content: center;
    gap: 10px; }
  .tarjetainfo__txt {
    margin: 0; }
  .formulario {
    max-width: max-content;
    margin: 1rem;
    padding: 1rem; }
  .formulario__contenedor {
    max-width: max-content;
    margin: 1rem; }
  .formulario__contenedor form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas: "nombre" "email" "telefono" "asunto" "mensaje" "boton"; }
  .nombre {
    grid-area: nombre; }
  .asunto {
    grid-area: asunto; }
  .email {
    grid-area: mail; }
  .mensaje {
    grid-area: mensaje; }
  .telefono {
    grid-area: telefono; }
  .botonform--enviar {
    grid-area: boton; }
  /* nosotros */
  .PERSONASCONTENEDOR {
    flex-direction: column;
    margin: 0;
    padding: 1rem; }
  .tarjetapersona {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .tarjetapersona__img {
    height: 52px;
    width: auto; }
  .tarjetapersona__texto {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center; }
  .tarjetapersona__nombre {
    font-size: 14px; }
  .tarjetapersona__ocupacion {
    font-size: 12px; }
  /* footer */
  .footer__contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
  .footer__right {
    display: none; } }
