/* CONTACT PAGE */


/* .paginacontacto {
    background-color: $colorsecundario;
} */
.contenedorcontacto{
    display: flex;
    max-width: 60%;
    margin:auto;
    gap: 10px;
    background-color: $colorsecundario;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.infocontacto {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    height: auto;
    margin: auto;
    justify-content: center;
}


.formulario__contenedor {
    
    max-height: fit-content;
    justify-content: center;
    align-items: center;
  
}