/* CONTACT PAGE */

.contacto{
    max-width: 80%;
    padding: auto;
    margin: 2rem auto;
}
.paginacontacto {
    background-color: $colorsecundario;
}
.infocontacto {
    background-color: $colorsecundario;
    max-width: fit-content;
    height: auto;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}
.formulario {
    background-color: $colorsecundario;
}