/* HEADER */

.header {
    
    height: 102px;
    box-shadow: 0px 2px 5px $colorprimario;
    padding: 1rem;
    position: relative;
    background: none;
    
}
.headercontenedor {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    object-position: center;
    align-items: center;
}

.header__img {
    height: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    
}
.navbar a {
    list-style: none; 
    color: $colortypo;
    font-family: '$tipografiaprimaria', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    margin: 16px;
}
/* END OF HEADER */