/* paleta
#2C2C2C negro
#ABABAB gris medio
#FFBF5F naranja
#EDEDED gris claro */

$colorprimario: #ABABAB;
$colorsecundario: #EDEDED;
$coloracento: #FFBF5F;
$colortypo: #2C2C2C;

$tipografiaprimaria: 'Mulish', sans-serif;
$tipografiasecundaria: 'Roboto', sans-serif; 